body {
  background-color: rgb(30, 30, 40);
}

h1, h2 {
  color: whitesmoke;
}

p {
  color: whitesmoke;
  font-size: 18px;
}

img.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

img.icon {
  width: 20px;
  height: 20px;
}